@utility no-scrollbars {
  ::-webkit-scrollbar {
    display: none;
  }

  --ms-overflow-style: none;
  scrollbar-width: none;
}

@utility no-spinner {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

@utility animate-shine {
  position: relative;
  overflow: hidden;
  @variant after {
    position: absolute;
    top: 0;
    left: -60%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
  }

  @variant hover {
    @variant after {
      transition: left 0.75s ease-in-out;
      left: 110%;
    }
  }
}

@utility page {
  @apply w-full px-4 md:px-6 lg:px-4 2xl:px-6 3xl:px-8 3xl:mx-auto 3xl:w-full 3xl:max-w-480;
}
