/.git
/node_modules
/lib
/*Versions.json
npm-debug.log

# OS Files
.DS_Store

**/.aws
**/.github
**/.idea
**/.turbo
**/.vercel
**/node_modules
.typechain-types
**/dist
**/.env.local
**/.cache
/apps/contracts
/apps/infra/cdk.out
/apps/squid/lib
**/.git
**/.next
